services:
  - type: web
    name: dunes-app
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: Dockerfile
    envVars:
      - key: PORT
        value: 8000
    healthCheckPath: /
    regions:
      - frankfurt
    